
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/shoujisc.css">
<script type="text/javascript" src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/css/showTip.css">
<script type="text/javascript" src="/js/showTip.js"></script>
</head>
<body id="wrap">
<div class="sjsc-title2">
    	<h3 class="sjsc-t2l">关于我们</h3>
        <a href="index" class="sjsc-t2r"><img src="/images/back.png" alt="" style="width:20px;height: 20px;padding-top: 11px;padding-left: 5px"/></a>
  </div>
   
短短三个月，业务推广范围遍及全国各地，包括 广州、深圳、珠海 、 厦门、 福州 、温州 、合肥、 武汉、 太原 、杭州、郑州 、济南 、西安 、苏州 、南京 、上海、 北京、银川 ，成都、昆明等地，用户量已经超过4000户，用户与平台为用户，亦是创业联盟关系，同享通讯业绩分佣，快速分享和裂变，预计2022年12月 联通及5G用户 超过4万户，实现专业专注 联盟共赢 ！<br />
<br />
欢迎加入创业联盟成员！成为创业领袖，实现家族里，光宗耀祖，国富民强<br />
</body>
</html>
